@use '@angular/material' as mat;

:root {
  height: 100%;
  
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  --mat-sys-primary: #07B0FB;
  --mat-sys-on-primary: #FFFFFF;
  --mat-sys-primary-container: #B8E6FF;
  --mat-sys-on-primary-container: #001F2A;

  --gap: 30px;
  --margin: 15px;
}