:host {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
}

.page-container {
    margin: 0 var(--margin);
}

.page-logo {
    margin: 16px auto;
    display: block;
}

.page-main {
    width: min(1024px, 100%);
    margin-inline: auto;
}

.page-title {
    margin: 32px auto;
    text-align: center;
}

.exchange-result-button {
    margin: 32px 0;
}

.exchange-result-loader {
    grid-column: 1 / -1;
}

.exchange-section {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 15px;
}

.exchange-currencies {
    justify-self: right;
}

.exchange-rate {
    grid-column: 1 / -1;
    text-align: center;
}

.expansion-container {
    margin-top: 32px;
    margin-bottom: 40px;
}

.expansion-header {
    display: flex;
    justify-content: space-between;
}

.expansion-content {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(min(310px, 100%), 1fr));
}

.expansion-loader {
    margin-top: 10px;
}

.exchange-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px 30px;
    margin-top: 8px;
    margin-bottom: 4px;
}

.exchange-data-row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.exchange-diff {
    display: flex;
    align-items: baseline;
}

.exchange-diff-label {
    margin-right: 8px;
}

.exchange-diff-value--with-icon {
    display: flex;
}

.exchange-diff-icon {
    margin-left: 5px;
}

.top-divider {
    border-top: 2px solid #D9D9D9;
    border-left: none;
}

.page-title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.25em;
    color: #07B0FB;
}

.exchange-now {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #262626;
}

.exchange-time {
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.375rem;
    color: #333333;
}

.exchange-currencies {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: #07B0FB;
}

.exchange-rate {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    color: #07B0FB;
    background-color: #e6f7ff;
    padding: 16px;
}

.exchange-divider {
    border-top: 1px solid #E5E5E5;
    border-left: none;
}

.expansion-container {
    border-bottom: 2px solid #07B0FB;
}

.expansion-header {
    padding-bottom: 16px;
}

.expansion-title {
    font-weight: 600;
    line-height: 1.5rem;
    color: #262626;
}

.expansion-button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.expansion-content {
    background-color: #F4F4F4;
    padding: 10px 10px 20px 10px;
}

.exchange-card {
    padding: 16px;
    background-color: white;
    box-shadow: 0px 2px 8px 0px #0000001A;
}

.exchange-date {
    font-family: Roboto;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.375rem;
    letter-spacing: 0rem;
    color: #07B0FB;
}

.exchange-data-title {
    font-family: Roboto;
    font-weight: 500;
    font-size: .6875rem;
    line-height: .875rem;
    text-transform: uppercase;
    color: #3F3F3F;
}

.exchange-data-value {
    font-family: Roboto;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0rem;
    color: #3F3F3F;
}

.exchange-diff-value {
    font-family: Roboto;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0rem;

    &.negative {
        color: #E54E4E;
    }

    &.positive {
        color: #69C669;
    }

    & img {
        height: 1.5rem;
        width: 1.5rem;
    }
}

.page-footer {
    background-color: #07B0FB;
    color: white;
    font-weight: 400;
    font-size: .75rem;
    line-height: 1.333em;
    padding: 7px var(--margin);
    text-align: center;
}