<img src="logo-full.svg" id="logo">

<hr id="top-divider">

<div id="title">
    BRL EXCHANGE RATE
</div>

<app-input [formCtrl]="currencyCtrl" label="Enter the currency code"/>

<button (click)="getCurrent()" id="result-button" matButton="filled">
    EXCHANGE RESULT
</button>

<div id="exchange-container">
    @let exchangeRateNow = currentExchangeRate();
    @if (exchangeRateNow === undefined) {}
    @else if (exchangeRateNow === 'loading') { 
        <loader style="grid-column: 1 / -1"/> 
    }
    @else {
        <hr id="exchange-divider">
        <div id="currency-data-container">
            <div id="exchange-now-container">
                <div id="exchange-now">Exchange rate now</div>
                <div id="exchange-time">
                    {{exchangeRateNow.lastUpdatedAt | date:'dd/MM/yyyy - HH\'h\'mm'}}
                </div>
            </div>
            <div id="currencies">{{exchangeRateNow.fromSymbol}}/BRL</div>
            <div id="exchange-rate">
                {{exchangeRateNow.exchangeRate | currency: 'BRL':'symbol':'1.2-2':'pt-BR'}}
            </div>
        </div>
        <details [open]="isExpanded()" (click)="$event.preventDefault()" id="expansion-container">
            <summary id="expansion-header">
                <span id="expansion-title">
                    LAST 30 DAYS
                </span>
                <button (click)="toggleExpansion()" id="expansion-button">
                    @if (!isExpanded()) {
                        <img src="add.svg">
                    }
                    @else {
                        <img src="remove.svg">
                    }
                </button>
            </summary>
            <div id="expansion-content">
                @let dailyExchangeRateVal = dailyExchangeRate();
                @if (dailyExchangeRateVal === undefined) {}
                @else if (dailyExchangeRateVal === 'loading') { <loader style="margin-top: 10px"/> }
                @else {
                    @for (rate of dailyExchangeRateVal.data; track rate) {
                        <div class="exchange-card">
                            <div class="exchange-date">{{rate.date | date:'dd/MM/yyyy'}}</div>
                            <div class="exchange-data">
                                <div>
                                    <span class="exchange-data-title">
                                        OPEN:
                                    </span>
                                    <span class="exchange-data-value">
                                        R$ {{rate.open}}
                                    </span>
                                </div>
                                <div>
                                    <span class="exchange-data-title">
                                        HIGH:
                                    </span>
                                    <span class="exchange-data-value">
                                        R$ {{rate.high}}
                                    </span>
                                </div>
                                <div>
                                    <span class="exchange-data-title">
                                        CLOSE:
                                    </span>
                                    <span class="exchange-data-value">
                                        R$ {{rate.close}}
                                    </span>
                                </div>
                                <div>
                                    <span class="exchange-data-title">
                                        LOW:
                                    </span>
                                    <span class="exchange-data-value">
                                        R$ {{rate.low}}
                                    </span>
                                </div>
                            </div>
                            <div>
                                <span class="exchange-data-title">
                                    CLOSE DIFF (%):
                                </span>
                                @let closediff = rate.closeDiff;
                                @if (closediff === null) {
                                    <span class="exchange-diff-value">
                                        No previous value
                                    </span>
                                } @else {
                                    <span 
                                        class="exchange-diff-value"
                                        [class.negative]="closediff < 0"
                                        [class.positive]="closediff > 0"
                                    >
                                        @if (closediff > 0) {
                                            +{{closediff.toFixed(2)}}%
                                            <img src="chevron-up.svg">
                                        } @else {
                                            {{closediff.toFixed(2)}}%
                                            <img src="chevron-down.svg">
                                        }
                                    </span>
                                }
                            </div>
                        </div>
                    }
                }
            </div>
        </details>
    }
</div>

<div id="footer">
    Copyright 2022 - Action Labs
</div>