:host {
    min-height: 100%;
    display: grid;
    align-content: start;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto) 1fr auto;
    gap: 0 30px;
    padding: 0 15px;
    box-sizing: border-box;
    width: min(1280px, 100%);
    margin-inline: auto;
    white-space: nowrap;
    background-color: white;

    &>* {
        /* Every child occupy full width by default */
        grid-column: 1 / -1;
    }
}

#logo {
    padding: 16px 0;
    margin-inline: auto;
}

#top-divider {
    border-top: 2px solid #D9D9D9;
    border-left: none;
}

#title {
    text-align: center;
    padding: 32px 0;

    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.25em;
    color: #07B0FB;
}

#currency-input {
    /* Make the content bellow disappear */
    /* .mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-bottom-align::before */
    margin-bottom: -20px;
}

#result-button {
    margin: 32px 0;
    background-color: #07B0FB;

    font-family: Roboto;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    height: 48px;
}

#exchange-container {
    display: grid;
    grid-template-columns: subgrid;
    align-content: center;
    margin-bottom: 40px;
}

#exchange-now-container {
    grid-column: 1 / 3;
}

#exchange-now {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #262626;
}

#exchange-time {
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.375rem;
    color: #333333;
}

#currencies {
    grid-column: 3 / -1;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: #07B0FB;
    align-self: center;
    justify-self: right;
}

#exchange-rate {
    grid-column: 1 / -1;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    color: #07B0FB;
    background-color: #e6f7ff;
    padding: 16px;
    margin-top: 15px;
    margin-bottom: 32px;
}

#exchange-divider {
    grid-column: 1 / -1;
    border-top: 1px solid #E5E5E5;
    border-left: none;
    margin-bottom: 30px;
}

#expansion-container {
    grid-column: 1 / -1;
    border-bottom: 2px solid #07B0FB;
}

#expansion-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-bottom: 16px;
}

#expansion-title {
    font-weight: 600;
    line-height: 1.5rem;
    color: #262626;
}

#expansion-button {
    /* Cancel material button padding */
    /* margin: calc(-1 * calc(calc(var(--mat-icon-button-state-layer-size, 40px) - var(--mat-icon-button-icon-size, 24px)) / 2)); */
    padding: 0;
    border: none;
    background: none;
    display: flex;
    padding: 16px;
    margin: -15px;
    cursor: pointer;
}

#expansion-content {
    background-color: #F4F4F4;
    padding: 10px 10px 20px 10px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(min(310px, 100%), 1fr));
}

.exchange-card {
    padding: 16px 20px 15px 16px;
    background-color: white;
    box-shadow: 0px 2px 8px 0px #0000001A;
}

.exchange-date {
    font-family: Roboto;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.375rem;
    letter-spacing: 0rem;
    color: #07B0FB;
    margin-bottom: 8px;
}

.exchange-data {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(120px, 100%), 1fr));
    gap: 4px 30px;
    margin-bottom: 4px;

    &>* {
        display: flex;
        gap: 8px;
        justify-content: space-between;
        align-items: baseline;
    }
}

.exchange-data-title {
    font-family: Roboto;
    font-weight: 500;
    font-size: .6875rem;
    line-height: .875rem;
    vertical-align: middle;
    text-transform: uppercase;
    color: #3F3F3F;
}

.exchange-data-value {
    font-family: Roboto;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0rem;
    vertical-align: middle;
    color: #3F3F3F;
}

.exchange-diff-value {
    font-family: Roboto;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0rem;
    vertical-align: middle;
    margin-left: 8px;
    margin-right: 5px;
    display: inline-flex;
    align-items: center;
    gap: 5px;

    &.negative {
        color: #E54E4E;
    }

    &.positive {
        color: #69C669;
    }

    & img {
        height: 1.5rem;
        width: 1.5rem;
    }
}

#footer {
    background-color: #07B0FB;
    color: white;
    margin-inline: -15px;
    text-align: center;

    font-weight: 400;
    font-size: .75rem;
    line-height: 1.333em;
    padding: 7px 0;
}